<xf:title>{{ phrase('sv_confirm_deletion_of_warning_default') }}</xf:title>

<xf:css src="public:delete_confirmation.css" />

<xen:form action="{xen:adminlink 'warnings/default/delete', $default}" class="deleteConfirmForm formOverlay">

	<p>{{ phrase('please_confirm_that_you_want_to_delete_following_warning_action') }}:</p>
	<strong><a href="{xen:adminlink 'warnings/default/edit', $default}">{{ phrase('points') }}: {$default.threshold_points}</a></strong>

	<xen:submitunit save="{{ phrase('sv_delete_warning_default') }}" />
	<input type="hidden" name="_xfConfirm" value="1" />

</xen:form>