<link rel="stylesheet" href="styles/jstree/default/style.min.css" />
<xf:css src="sv_warning_list_jstree.css" />

<xf:js addon="SV/WarningImprovements" src="js/jstree/jstree.js" min="1" />
<xf:js addon="SV/WarningImprovements" src="js/sv/warningimprovements/warnings.js" min="1" />

<xf:if is="$warnings is not empty">
	<div class="block">
		<div class="block-outer">
			<xf:macro template="filter_macros" name="quick_filter" arg-key="warnings" arg-class="block-outer-opposite" />
		</div>
		<div class="block-container">
			<div class="block-body">
				<div id="warningitems" class="WarningItemTree"
					 data-overlay="1"
					 data-search-input=".input.js-filterInput"
					 data-load-url="{{ link('warnings/load-tree') }}"
					 data-sync-url="{{ link('warnings/sync-item') }}"
					 data-rename-url="{{ link('warnings/rename-tree-item') }}"
					 data-category-edit-url="{{ link('warnings/category-edit&warning_category_id={id}') }}"
					 data-category-delete-url="{{ link('warnings/category-delete&warning_category_id={id}') }}"
					 data-warning-edit-url="{{ link('warnings/{id}/edit') }}"
					 data-warning-delete-url="{{ link('warnings/{id}/delete') }}"
					 data-rename-text="{{ phrase('sv_rename') }}"
					 data-edit-text="{{ phrase('edit') }}"
					 data-delete-text="{{ phrase('delete') }}">
				</div>
			</div>
			<div class="block-footer">
				<span class="block-footer-counter">{{ display_totals($warnings) }}</span>
			</div>
		</div>
	</div>
<xf:else />
	<div class="blockMessage">{{ phrase('no_warnings_have_been_defined') }}</div>
</xf:if>