<xf:title>{{ phrase('sv_confirm_deletion_of_warning_default') }}</xf:title>

<xf:css src="public:delete_confirmation.css" />

<xf:form action="{{ link('warnings/default/delete', null, { 'warning_default_id': $default.warning_default_id }) }}" class="block" ajax="true">

    <div class="block-container">
        <div class="block-body">
            <xf:inforow rowtype="confirm">
                {{ phrase('please_confirm_that_you_want_to_delete_following:') }}
                <strong><a href="{{ link('warnings/default/edit', null, { 'warning_default_id': $default.warning_default_id }) }}">{{ phrase('points:') }} {$default.threshold_points}</a></strong>
            </xf:inforow>
        </div>
        <xf:submitrow rowtype="simple" icon="delete" />
    </div>
    <xf:redirect />
</xf:form>