<hr class="formRowSep" /><xf:comment>Required to give seperator similar to XF1</xf:comment>

<xf:selectrow name="sv_warning_category_id" value="{$action.sv_warning_category_id}}" label="{{ phrase('sv_warning_category') }}">
	<xf:option value="0">{{ phrase('(none)') }}</xf:option>

	<xf:option source="$warningCategories" />
</xf:selectrow>

<hr class="formRowSep" /><xf:comment>Required to give seperator similar to XF1</xf:comment>

<xf:selectrow name="sv_post_node_id" value="{$action.sv_post_node_id}" class="js-nodeList"
			  label="{{ phrase('sv_warning_node_id') }}"
			  explain="{{ phrase('sv_warning_action_post_new_thread') }}">
	<xf:option value="0">{{ phrase('(none)') }}</xf:option>

	<xf:foreach loop="$nodeTree.getFlattened(0)" value="$treeEntry">
		<xf:option value="{$treeEntry.record.node_id}" disabled="{{ $treeEntry.record.node_type_id != 'Forum' ? 'disabled' : '' }}">
			{{ repeat_raw('&nbsp; ', $treeEntry.depth) }} {$treeEntry.record.title}
		</xf:option>
	</xf:foreach>
</xf:selectrow>

<xf:numberboxrow name="sv_post_thread_id" value="{$action.sv_post_thread_id}" label="{{ phrase('sv_warning_thread_id') }}:" explain="{{ phrase('sv_warning_action_post_thread_reply') }}" />
<xf:numberboxrow name="sv_post_as_user_id" value="{$action.sv_post_as_user_id}" label="{{ phrase('sv_warning_post_as_user_id') }}:" explain="{{ phrase('sv_warning_action_post_as_user') }}" />