<xf:title>{xen:if '{$warningCategory.warning_category_id}', '{{ phrase('sv_edit_warning_category') }}: {$warningCategory.title}', '{{ phrase('sv_create_new_warning_category') }}'}</xf:title>

<xf:if is="{$warningCategory.warning_category_id}">
	
		<xf:breadcrumb href="{{ link('warnings') }}#_category-{$warningCategory.warning_category_id}">{$warningCategory.title}</xf:breadcrumb>
	
</xf:if>

<xen:form class="AutoValidator"
	action="{xen:adminlink 'warnings/category-save', '', 'warning_category_id={$warningCategory.warning_category_id}'}"
	data-redirect="on">

	<xen:textboxunit label="{{ phrase('title') }}:" name="title" value="{$warningCategory.title}" data-optinout="OptOut" data-livetitletemplate="{xen:if {$warningCategory.warning_category_id},
		'{{ phrase('sv_edit_warning_category') }}: <em>%s</em>',
		'{{ phrase('sv_create_new_warning_category') }}: <em>%s</em>'}" />

	<xen:selectunit label="{{ phrase('sv_parent_category') }}:" name="parent_warning_category_id" value="{$warningCategory.parent_warning_category_id}">
		<xen:option value="0" label="({{ phrase('none') }})" />
		<xen:options source="$warningCategories" />
	</xen:selectunit>

	<xen:spinboxunit label="{{ phrase('display_order') }}:" name="display_order" value="{$warningCategory.display_order}" min="0" step="10" />

	<xen:checkboxunit id="allowedUserGroups" label="{{ phrase('sv_allowed_user_groups') }}:" name="allowed_user_group_ids[]" listclass="checkboxColumns">
		<xen:hint><br /><label><input type="checkbox" class="CheckAll" data-target="#allowedUserGroups" /> {{ phrase('select_all') }}</label></xen:hint>
		<xen:options source="$userGroups" />
	</xen:checkboxunit>

	<xen:submitunit save="{{ phrase('sv_save_warning_category') }}">
		<xf:if is="{$warningCategory.warning_category_id}"><a href="{xen:adminlink 'warnings/category-delete', '', 'warning_category_id={$warningCategory.warning_category_id}'}" class="button OverlayTrigger">{{ phrase('sv_delete_warning_category') }}...</a></xf:if>
	</xen:submitunit>
</xen:form>