<xf:if is="$escalatingDefaults is not empty">
	<div class="block">
		<div class="block-container">
			<h2 class="block-header">{{ phrase('warning_escalating_defaults') }}</h2>
			<div class="block-body">
				<xf:datalist>
					<xf:foreach loop="$escalatingDefaults" value="$escalatingDefault">
						<xf:set var="$expiry_extension_phrase">{{ phrase('x_days', {'days': $escalatingDefault.expiry_extension}) }}</xf:set>
						<xf:if is="{$escalatingDefault.expiry_type} == 'weeks'">
							<xf:set var="$expiry_extension_phrase">{{ phrase('sv_x_weeks', {'weeks': $escalatingDefault.expiry_extension}) }}</xf:set>
						</xf:if>
						<xf:if is="{$escalatingDefault.expiry_type} == 'months'">
							<xf:set var="$expiry_extension_phrase">{{ phrase('x_months', {'months': $escalatingDefault.expiry_extension}) }}</xf:set>
						</xf:if>
						<xf:if is="{$escalatingDefault.expiry_type} == 'years'">
							<xf:set var="$expiry_extension_phrase">{{ phrase('sv_x_years', {'years': $escalatingDefault.expiry_extension}) }}</xf:set>
						</xf:if>
						
						<xf:datarow>
							<xf:main href="{{ link('warnings/default/edit', null, { 'warning_default_id': $escalatingDefault.warning_default_id }) }}">
								<xf:label>{{ phrase('points:') }} {$escalatingDefault.threshold_points}</xf:label>
								<xf:hint>{{ phrase('sv_increase_default_expiry_by_x', {'length': $expiry_extension_phrase}) }}</xf:hint>
							</xf:main>
							<xf:toggle name="active[{$escalatingDefault.warning_default_id}]" selected="$escalatingDefault.active"
									   class="dataList-cell--separated" submit="true"
									   tooltip="{{ phrase('sv_warning_improvements_enable_disable_this_warning_default') }}" />
							<xf:delete href="{{ link('warnings/default/delete', null, { 'warning_default_id': $escalatingDefault.warning_default_id }) }}" />
						</xf:datarow>
					</xf:foreach>
				</xf:datalist>
			</div>
			<div class="block-footer">
				<span class="block-footer-counter">{{ display_totals($actions) }}</span>
			</div>
		</div>
	</div>
</xf:if>