<xen:if is="{$warningActionCategories}">
	<xen:form action="{xen:adminlink warnings}" class="section">
		<h2 class="subHeading">
			{xen:phrase warning_actions}
		</h2>

		<ol class="FilterList Scrollable">
			<xen:foreach loop="$warningActionCategories" key="$warningActionCategoryId" value="$warningActionCategory">
				<li>
					<h3 class="textHeading" style="text-align: right">
						<span style="float: left">
							<xen:if is="{$warningActionCategoryId}">
								<a href="{xen:adminlink warnings/category-edit, '', 'warning_category_id={$warningActionCategoryId}'}" title="{xen:phrase edit_category}">{$warningActionCategory.title}</a>
							<xen:else />
								{xen:phrase sv_global_warning_actions}
							</xen:if>
						</span>
						<span style="font-weight: normal">
							<xen:if is="{$warningActionCategoryId}">
								<a href="{xen:adminlink warnings/category-edit, '', 'warning_category_id={$warningActionCategoryId}'}" title="{xen:phrase edit_category}">{xen:phrase edit}</a>
								|
							</xen:if>
							<a href="{xen:adminlink warnings/action-add, '', 'warning_category_id={$warningActionCategoryId}'}">{xen:phrase create_new_warning_action}</a>
						</span>
					</h3>
					<ol>
						<xen:foreach loop="$warningActionCategory.actions" value="$action">
							<xen:listitem
								id="action-{$action.warning_action_id}"
								label="{xen:phrase points}: {$action.points}"
								href="{xen:adminlink warnings/action/edit, $action}"
								delete="{xen:adminlink warnings/action/delete, $action}"
							>
								<xen:snippet>
									{xen:if "{$action.action} == 'ban'", '{xen:phrase ban}',
										{xen:if "{$action.action} == 'discourage'", '{xen:phrase discourage}',
										{xen:if "{$action.action} == 'groups'", '{xen:phrase add_to_selected_groups}'}
									}},
									{xen:if "{$action.action_length_type} == 'permanent'", '{xen:phrase permanent}',
										{xen:if "{$action.action_length_type} == 'points'", '{xen:phrase while_at_or_above_points_threshold}',
										'{xen:phrase temporary}'
									}}
								</xen:snippet>
							</xen:listitem>
						</xen:foreach>
					</ol>
				</li>
			</xen:foreach>
		</ol>
	</xen:form>
</xen:if>