<xf:if is="$category.isInsert()">
	<xf:title>{{ phrase('add_category') }}</xf:title>
<xf:else />
	<xf:title>{{ phrase('edit_category:') }} {$category.title}</xf:title>
</xf:if>

<xf:pageaction if="$category.warning_category_id > 1">
	<xf:button href="{{ link('warnings/category-delete', null, { 'warning_category_id': $category.warning_category_id }) }}"
		icon="delete"
		data-xf-click="overlay" />
</xf:pageaction>

<xf:form action="{{ link('warnings/category-save', null, { 'warning_category_id': $category.warning_category_id }) }}" ajax="true" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="title" value="{{ $category.warning_category_id ? $category.MasterTitle.phrase_text : '' }}" label="{{ phrase('title') }}" />
			
			<xf:selectrow name="parent_category_id" value="{$category.parent_category_id}"
				label="{{ phrase('parent_category') }}">

				<xf:option value="0">{{ phrase('(none)') }}</xf:option>
				<xf:foreach loop="$categoryTree.getFlattened(0)" value="$treeEntry">
					<xf:option value="{$treeEntry.record.warning_category_id}" disabled="{{ $treeEntry.record.warning_category_id === $category.warning_category_id }}">{{ repeat('--', $treeEntry.depth) }} {$treeEntry.record.title}</xf:option>
				</xf:foreach>
			</xf:selectrow>

			<xf:macro template="display_order_macros" name="row" arg-value="{$category.display_order}" />
			
			<xf:macro template="helper_user_group_edit"
					  name="checkboxes"
					  arg-selectedUserGroups="{{ $category.isUpdate() ? $category.allowed_user_group_ids : [-1] }}" />
		</div>
		<xf:submitrow sticky="true" icon="save" />
	</div>
</xf:form>