<xf:if is="$default.isInsert()">
	<xf:title>{{ phrase('sv_create_new_warning_default') }}</xf:title>
<xf:else />
	<xf:title>{{ phrase('sv_edit_warning_default:') }} {{ phrase('points_threshold') }} {$default.threshold_points}</xf:title>
</xf:if>

<xf:form action="{{ link('warnings/default/save', null, { 'warning_default_id': $default.warning_default_id }) }}" ajax="true" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:numberboxrow name="threshold_points" value="{$default.threshold_points}" min="1" label="{{ phrase('points_threshold') }}" explain="{{ phrase('sv_warning_default_applied_crossing_threshold') }}" />

			<xf:formrow label="{{ phrase('sv_warning_expiry_extension') }}" explain="{{ phrase('sv_warning_expiry_extension_explain') }}">
				<div class="inputGroup">
					<xf:numberbox name="expiry_extension" value="{{ $default.expiry_extension }}" min="0" />
					<span class="inputGroup-splitter"></span>
					<xf:select name="expiry_type" value="{{ $default.expiry_type }}" class="input--inline">
						<xf:option value="days">{{ phrase('days') }}</xf:option>
						<xf:option value="weeks">{{ phrase('weeks') }}</xf:option>
						<xf:option value="months">{{ phrase('months') }}</xf:option>
						<xf:option value="years">{{ phrase('years') }}</xf:option>
					</xf:select>
				</div>
			</xf:formrow>
			
			<xf:checkboxrow>
				<xf:option name="active" value="1" selected="{$default.active}">{{ phrase('sv_warning_default_is_active') }}</xf:option>
			</xf:checkboxrow>
		</div>
		<xf:submitrow sticky="true" icon="save" />
	</div>
</xf:form>