<xf:set var="$issuer" value="{$alert.User}" />

<xf:if is="!{$content.canViewIssuer()}">
	<xf:set var="$issuer" value="{$content.getAnonymizedIssuer()}" />
</xf:if>

{{ phrase('warning_alert_text', {
		'name': username_link($issuer, false, {'defaultname': $issuer.username}),
		'warning_attributes': $content.canView() ? 'href="' . link('warnings', $content) . '" class="fauxBlockLink-blockLink"' : '',
		'points': {$content.points},
		'warning_title': $content.hasOption('hasCensoredTitle') ? $content.title_censored : phrase('n_a')
	})
}}