<xf:title>{{ phrase('warnings:') }} {$user.username}</xf:title>

<xf:breadcrumb href="{{ link('members', $user) }}">{$user.username}</xf:breadcrumb>

<div class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:datalist data-xf-init="responsive-data-list">
				<xf:datarow rowtype="header">
					<xf:cell width="20%">{{ phrase('sv_warning_action_type') }}</xf:cell>
					<xf:cell>{{ phrase('sv_warning_action_result') }}</xf:cell>
					<xf:cell>{{ phrase('sv_warning_action_expiry') }}</xf:cell>
					<xf:cell>&nbsp;</xf:cell>
				</xf:datarow>
				<xf:foreach loop="$user.warning_actions" value="$warningAction">
					<xf:datarow rowclass="{{ $warningAction.is_expired ? 'dataList-row--disabled' : '' }}">
						<xf:cell>{$warningAction.name}</xf:cell>
						<xf:cell>{$warningAction.result}</xf:cell>
						<xf:cell>
							<xf:if is="$warningAction.expiry_date_rounded">
								<xf:date time="{$warningAction.expiry_date_rounded} " />
							<xf:else />
								{{ phrase('n_a') }}
							</xf:if>
						</xf:cell>
						<xf:cell class="dataList-cell--link"><a href="{{ link('warning-actions', $warningAction) }}" data-xf-click="overlay">{{ phrase('view') }}</a></xf:cell>
					</xf:datarow>
				</xf:foreach>
			</xf:datalist>
		</div>
		<div class="block-footer">
			<ul class="listInline listInline--bullet">
				<li>{{ phrase('sv_total_warning_actions:') }} {{ count($user.warning_actions)|number }}</li>
			</ul>
		</div>
	</div>
</div>