<link rel="stylesheet" href="styles/chosen/chosen.min.css" />
<xf:css src="sv_member_warn_chooser.css" />

<xf:if is="{$debugMode}">
	<xf:js addon="SV/WarningImprovements" src="js/chosen/chosen.jquery.js" />
	<xf:js addon="SV/WarningImprovements" src="js/SV/WarningImprovements/full/warnings.js" />
<xf:else />
	<xf:js addon="SV/WarningImprovements" src="js/chosen/chosen.jquery.min.js" />
	<xf:js addon="SV/WarningImprovements" src="js/SV/WarningImprovements/warnings.js" />
</xf:if>

<div id="warningViewSelect" class="JsOnly" style="display:none;">
	<dl class="ctrlUnit">
		<dt>{{ phrase('warning_type') }}:</dt>

		<dd>
			<select class="warningItems WarningSelector" name="warning_definition_id"
				data-customwarningtitle="#customWarningTitle"
				data-noresultstext="{{ phrase('sv_no_results_match') }}"
				data-placeholdertext="{{ phrase('sv_choose_a_warning') }}">
				<option></option>

				<xf:foreach loop="$warningCategories" value="$warningCategory">
					<optgroup class="warningCategory" label="{$warningCategory.title}">
						<xf:foreach loop="$warningCategory.warnings" value="$warning">
							<option class="warningDefinition FormFiller" value="{$warning.warning_definition_id}" {xen:if {$warning.sv_custom_title}, 'data-custom-title="1"', ''}>{$warning.title}</option>
						</xf:foreach>
					</optgroup>
				</xf:foreach>
			</select>

			<input id="customWarningTitle" class="textCtrl" style="display:none" type="text" name="title" placeholder="{{ phrase('custom_warning') }}..." maxlength="255" />
		</dd>
	</dl>
</div>

<div id="warningViewRadio">
	<xf:foreach loop="$rootWarningCategories" value="$rootWarningCategory">
		<dl class="ctrlUnit">
			<dt class="warningCategory">{$rootWarningCategory.title}:</dt>

			<dd>
				<ul class="warningItems">
					<xf:foreach loop="$rootWarningCategory.children" value="$warningItem">
						<xf:if is="{$warningItem.warning_category_id}">
							<li class="warningCategory _depth{$warningItem.depth}">{$warningItem.title}</li>
						<xf:else />
							<xf:if is="{$warningItem.warning_definition_id} != 0">
								<li class="warningDefinition _depth{$warningItem.depth}"><label><input type="radio" name="warning_definition_id" id="warning_{$warningItem.warning_definition_id}" class="FormFiller {xen:if '{$warningItem.sv_custom_title}', 'Disabler', ''}" value="{$warningItem.warning_definition_id}" {xen:if {$warning.sv_custom_title}, 'data-custom-title="1"', ''}/> {$warningItem.title}</label>
								<xf:if is="{$warningItem.sv_custom_title}">
									<ul id="warning_{$warningItem.warning_definition_id}_Disabler">
										<li><input type="text" name="title" class="textCtrl" value="{$warningItem.title}" maxlength="255" /></li>
									</ul>
								</xf:if>
								</li>
							<xf:else />
								<li class="warningDefinition _depth{$warningItem.depth}"><label><input type="radio" name="warning_definition_id" class="FormFiller Disabler" value="0" id="customWarning" checked="checked" /> {{ phrase('custom_warning') }}:</label>
									<ul id="customWarning_Disabler">
										<li><input type="text" name="title" class="textCtrl" placeholder="{{ phrase('custom_warning') }}..." maxlength="255" /></li>
									</ul>
								</li>
							</xf:if>
						</xf:if>
					</xf:foreach>
				</ul>
			</dd>
		</dl>
	</xf:foreach>
</div>

<a id="warningViewToggle" class="WarningViewToggler JsOnly" href="#"
	data-selectview="#warningViewSelect"
	data-radioview="#warningViewRadio"
	data-toggleselecttext="{{ phrase('sv_toggle_select_view') }}"
	data-toggleradiotext="{{ phrase('sv_toggle_radio_view') }}"></a>