<xf:title>{{ phrase('warnings') }}: {$user.username}</xf:title>
<xen:h1>{{ phrase('warnings') }}</xen:h1>

<xf:breadcrumb href="{{ link('members', $user) }}">{$user.username}</xf:breadcrumb>

<xf:css src="member_view.css" />

<div class="warningActionList">
<table class="dataTable" style="table-layout: fixed">
<tr class="dataRow">
	<th class="warningActionType" width="20%">{{ phrase('sv_warning_action_type') }}</th>
	<th class="warningActionResult">{{ phrase('sv_warning_action_result') }}</th>
	<th class="warningActionExpiry">{{ phrase('sv_warning_action_expiry') }}</th>
	<th class="warningActionView">&nbsp;</th>
</tr>
<xf:foreach loop="$warningActions" value="$warningAction">
	<tr class="dataRow {xen:if $warning.is_expired, muted}">
		<td class="warningActionType">{$warningAction.name}</td>
		<td class="warningActionResult">{$warningAction.result}</td>
		<td class="warningActionExpiry"><xf:if is="{$warningAction.expiry_date_rounded}">{{ date_time("{$warningAction.expiry_date_rounded}") }}<xf:else />{{ phrase('n_a') }}</xf:if></td>
		<td class="warningActionView dataOptions"><a href="{xen:link warning-actions, $warningAction}" class="OverlayTrigger secondaryContent">{{ phrase('view') }}</a></td>
	</tr>
</xf:foreach>
</table>
</div>