<xf:css src="sv_member_warn_chooser.less" />

<xf:macro name="svStandardLib_macros::choices_setup" />
<xf:js addon="SV/WarningImprovements" src="sv/warningimprovements/warnings.js" min="1" />

<div id="warning-view-select" style="display: none; opacity: 0;">
	<xf:selectrow name="warning_definition_id" class="js-FormFiller" value="0" label="{{ phrase('warning_type') }}" data-no-results-text="{{ phrase('sv_no_results_match') }}" data-place-holder-text="{{ phrase('sv_choose_a_warning') }}" data-xf-init="sv-choices warning-title-watcher" data-warning-select="true" data-copy-title="{{ $xf.options.sv_warningimprovements_copy_title }}">
		<xf:foreach loop="$categoryTree.getFlattened(0)" value="$treeEntry">
			<xf:set var="$category" value="{$treeEntry.record}" />
			<xf:optgroup label="{{ repeat('--', $treeEntry.depth) }} {$category.title}">
				<xf:foreach loop="{$warnings.{$category.warning_category_id}}" value="$warning">
					<xf:option value="{$warning.warning_definition_id}">{{ repeat('--', $treeEntry.depth) }} {$warning.title}</xf:option>
				</xf:foreach>
			</xf:optgroup>
		</xf:foreach>
	</xf:selectrow>

	<xf:foreach loop="$categoryTree.getFlattened(0)" value="$treeEntry">
		<xf:set var="$category" value="{$treeEntry.record}" />
		<xf:foreach loop="{$warnings.{$category.warning_category_id}}" value="$warningDefinition">
				<xf:formrow label="" data-custom-title-container="1" data-warning-view-type="select" data-warning-label="{$warningDefinition.custom_title_placeholder}" data-for-warning="{$warningDefinition.warning_definition_id}">
					<xf:if is="$warningDefinition.sv_custom_title || !$warningDefinition.warning_definition_id">
						<xf:textbox name="custom_title" maxlength="{{ max_length('XF:Warning', 'title') }}" value="" data-xf-init="warning-title-watcher" data-warning-title-input="1" data-for-warning="{$warningDefinition.warning_definition_id}" disabled="disabled" placeholder="{{ phrase('custom_title') }}" />
					<xf:else />
						<xf:hiddenval name="custom_title" data-warning-title-input="1" data-for-warning="{$warningDefinition.warning_definition_id}"></xf:hiddenval>
					</xf:if>
				</xf:formrow>
		</xf:foreach>
	</xf:foreach>
</div>

<xf:set var="$defaultSelected" value="{{ false }}"/>
<xf:set var="$defaultWarningId" value="{{ 0 }}"/>
<div id="warning-view-radio" style="display: none; opacity: 0;">
	<xf:foreach loop="$categoryTree.getFlattened(0)" value="$treeEntry">
		<xf:set var="$category" value="{$treeEntry.record}" />

		<xf:if is="{$warnings.{$category.warning_category_id}}">
			<xf:if is="$treeEntry.depth === 0">
				<xf:set var="$categoryTitleForFormRow">{$category.title}</xf:set>
			<xf:else />
				<xf:if is="(!{$warnings.{$category.Parent.warning_category_id}} && {$category.Parent.depth} === 0) || (!{$warnings.{$category.Parent.warning_category_id}} && {$category.Parent.depth} !== 0)">
					<xf:set var="$categoryTitleForFormRow">{$category.title}</xf:set>
				<xf:else />
					<xf:set var="$categoryTitleForFormRow"></xf:set>
				</xf:if>
			</xf:if>

			<xf:if is="$treeEntry.depth !== 0">
				<xf:if is="(!{$warnings.{$category.Parent.warning_category_id}} && {$category.Parent.depth} === 0) || (!{$warnings.{$category.Parent.warning_category_id}} && {$category.Parent.depth} !== 0)">
					<xf:set var="$categoryTitleForRadio"></xf:set>
				<xf:else />
					<xf:set var="$categoryTitleForRadio">{$category.title}</xf:set>
				</xf:if>
			<xf:else />
				<xf:set var="$categoryTitleForRadio"></xf:set>
			</xf:if>

			<xf:formrow label="{$categoryTitleForFormRow}" class="u-depth{$treeEntry.depth}">
				<xf:if is="!empty({$categoryTitleForRadio})">
					<label class="u-depth{$treeEntry.depth}">{$categoryTitleForRadio}</label>
				</xf:if>

				<xf:foreach loop="{$warnings.{$category.warning_category_id}}" value="$warningDefinition">
					<div class="u-depth{$treeEntry.depth}">
						<xf:if is="!$defaultSelected">
							<xf:set var="$defaultSelected" value="{{ true }}"/>
							<xf:set var="$defaultWarningId" value="{$warningDefinition.warning_definition_id}"/>
						</xf:if>
						<xf:radio name="warning_definition_id" value="{{$defaultWarningId ?: 0}}">
							<xf:option value="{$warningDefinition.warning_definition_id}" class="js-FormFiller" label="{$warningDefinition.title}" data-warning-radio="true" data-warning-label="{$warningDefinition.custom_title_placeholder}" data-xf-init="warning-title-watcher">
								<xf:dependent>
									<xf:if is="$warningDefinition.sv_custom_title || !$warningDefinition.warning_definition_id">
										<xf:formrow label="" data-custom-title-container="1" data-warning-view-type="radio">
											<xf:textbox label="" name="custom_title" maxlength="{{ max_length('XF:Warning', 'title') }}" value="{$warningDefinition.custom_title_placeholder}" data-xf-init="warning-title-watcher" data-warning-title-input="1" data-for-warning="{$warningDefinition.warning_definition_id}" />
										</xf:formrow>
									</xf:if>
								</xf:dependent>
							</xf:option>
						</xf:radio>
					</div>
				</xf:foreach>
			</xf:formrow>
		</xf:if>
	</xf:foreach>
</div>

<xf:formrow>
	<a class="u-jsOnly" data-xf-init="warning-view-toggle" href="#"
	data-select-view-selector="#warning-view-select"
	data-radio-view-selector="#warning-view-radio"
	data-toggle-select-view-phrase="{{ phrase('sv_toggle_select_view')|for_attr }}"
	data-toggle-radio-view-phrase="{{ phrase('sv_toggle_radio_view')|for_attr }}"></a>
</xf:formrow>