<xf:css src="sv_member_warn_chooser.less" />

<xf:js addon="SV/WarningImprovements" src="sv/warningimprovements/warnings.js" min="1" />
<xf:js prod="vendor/select2/select2.full.js" dev="vendor/select2/select2.full.min.js" />

<div id="warning-view-select" style="display: none;">
	<xf:selectrow name="warning_definition_id" class="js-FormFiller" value="0" label="{{ phrase('warning_type') }}" data-no-results-text="{{ phrase('sv_no_results_match') }}" data-place-holder-text="{{ phrase('sv_choose_a_warning') }}" data-xf-init="warning-view-select warning-title-watcher" data-warning-select="true">
		<xf:foreach loop="$categoryTree.getFlattened(0)" value="$treeEntry">
			<xf:set var="$category" value="{$treeEntry.record}" />
			<xf:optgroup label="{$category.title}">
				<xf:foreach loop="{$warnings.{$category.warning_category_id}}" value="$warning">
					<xf:option value="{$warning.warning_definition_id}">{{ repeat('--', $treeEntry.depth) }} {$warning.title}</xf:option>
				</xf:foreach>
			</xf:optgroup>
		</xf:foreach>
	</xf:selectrow>
	
	<xf:textboxrow name="custom_title" label="{{ phrase('custom_warning') }}" data-xf-init="warning-title-watcher" />
</div>

<div id="warning-view-radio">
	<xf:foreach loop="$categoryTree.getFlattened(0)" value="$treeEntry">
		<xf:set var="$category" value="{$treeEntry.record}" />
		
		<xf:if is="$treeEntry.depth === 0">
			<xf:set var="$categoryTitleForFormRow">{$category.title}</xf:set>
		<xf:else />
			<xf:set var="$categoryTitleForFormRow"></xf:set>
		</xf:if>
		
		<xf:if is="$treeEntry.depth !== 0">
			<xf:set var="$categoryTitleForRadio">{$category.title}:</xf:set>
		<xf:else />
			<xf:set var="$categoryTitleForRadio"></xf:set>
		</xf:if>
		
		<xf:formrow label="{$categoryTitleForFormRow}" class="u-depth{$treeEntry.depth}">
			<label class="u-depth{$treeEntry.depth}">{$categoryTitleForRadio}</label>
			
			<xf:foreach loop="{$warnings.{$category.warning_category_id}}" value="$warningDefinition">
				<div class="u-depth{$treeEntry.depth}">
					<xf:radio name="warning_definition_id" value="0">
						<xf:option value="{$warningDefinition.warning_definition_id}" class="js-FormFiller" label="{$warningDefinition.title}" data-warning-label="{$warningDefinition.title}" data-warning-radio="true" data-xf-init="warning-title-watcher">
							<xf:dependent>
								<xf:if is="{$warningDefinition.sv_custom_title}">
									<xf:textboxrow label="" name="custom_title" maxlength="{{ max_length($warningDefinition, 'title') }}" value="{$warningDefinition.title}" data-xf-init="warning-title-watcher" data-warning-title-input="1" data-for-warning="{$warningDefinition.warning_definition_id}" />
								</xf:if>
							</xf:dependent>
						</xf:option>
					</xf:radio>
				</div>
			</xf:foreach>
		</xf:formrow>
	</xf:foreach>
</div>

<xf:formrow>
	<a class="u-jsOnly" data-xf-init="warning-view-toggle" href="#"
	data-select-view="#warning-view-select"
	data-radio-view="#warning-view-radio"
	data-toggle-select-phrase="{{ phrase('sv_toggle_select_view') }}"
	data-toggle-radio-phrase="{{ phrase('sv_toggle_radio_view') }}"></a>
</xf:formrow>