#warningViewSelect dd
{
	overflow: visible;
}

#warningViewSelect select
{
	width: 100%;
}

#warningViewSelect #customWarningTitle
{
	margin: 6px 0;
}

#warningViewRadio li:not(:first-child)
{
	margin: 6px 0;
}

.ctrlUnit li._depth1 { padding-left: 0em; }
.ctrlUnit li._depth2 { padding-left: 2em; }

#warningViewRadio .warningCategory
{
	font-weight: bold;
}

#warningViewToggle
{
	box-sizing: border-box;
	display: block;
	font-size: 11px;
	margin-left: 4px;
	padding-right: 15px;
	padding-top: 4px;
	text-align: right;
	vertical-align: top;
	width: 32%;
}