<script>
!function($, window, document, _undefined)
{
	XenForo.WarningDefaultActionFormFillerControl = function($input)
	{
		if ($input.val() == '{$xf.options.sv_warningimprovements_default_content_action}') {
			$input.prop("checked", true);
			var Disabler = $input.data('XenForo.Disabler');
			if (Disabler && typeof Disabler == 'object')
			{
				Disabler.setStatus(null, 1);
			}
		}
	}
	XenForo.register('input[name=content_action]', 'XenForo.WarningDefaultActionFormFillerControl');
}
(jQuery, this, document);
</script>