<xf:title>{{ phrase('sv_warning_action_for_x', {'name':'{$user.username}'}) }}</xf:title>

<xf:breadcrumb href="{{ link('members', $user) }}">{$user.username}</xf:breadcrumb>

<div class="xenForm formOverlay overlayScroll">
	<dl class="ctrlUnit">
		<dt>{{ phrase('sv_warning_action_type') }}:</dt>
		<dd>{$warningAction.name}, {{ date_time("{$warningAction.create_date}") }}</dd>
	</dl>

	<dl class="ctrlUnit">
		<dt>{{ phrase('sv_warning_action_result') }}:</dt>
		<dd>{$warningAction.result}</dd>
	</dl>

	<dl class="ctrlUnit">
		<dt>{{ phrase('sv_warning_action_expiry') }}:</dt>
		<dd><xf:if is="{$warningAction.expiry_date_rounded}">{{ date_time("{$warningAction.expiry_date_rounded}") }}<xf:else />{{ phrase('n_a') }}</xf:if></dd>
	</dl>

	<xf:if is="{$canEditUserWarningActions}">
		<ul class="tabs Tabs" data-panes="#WarningActionTabs_{$warningAction.warning_action_id} > form">
			<li><a href="javascript:">{{ phrase('sv_update_warning_action') }}</a></li>
		</ul>
	</xf:if>

	<div id="WarningActionTabs_{$warningAction.warning_action_id}">

		<xf:if is="{$canEditUserWarningActions}">
			<form action="{xen:link warning-actions/expire, $warningAction}" method="post">
				<dl class="ctrlUnit">
					<dt></dt>
					<dd><ul>
						<li><label><input type="radio" name="expire" value="now" checked="checked" /> {{ phrase('expire_now') }}</label></li>
						<li><label><input type="radio" name="expire" value="future" id="ExpireWarningFuture_{$warningAction.warning_action_id}" class="Disabler" /> {{ phrase('expire_in_time') }}:</label>
							<ul id="ExpireWarningFuture_{$warningAction.warning_action_id}_Disabler">
								<li>
									<input type="text" size="5" name="expiry_length" value="1" class="textCtrl autoSize" />
									<select name="expiry_unit" class="textCtrl autoSize">
										<option value="minutes">{{ phrase('sv_wa_minutes') }}</option>
										<option value="hours">{{ phrase('hours') }}</option>
										<option value="days" selected="selected">{{ phrase('days') }}</option>
										<option value="weeks">{{ phrase('weeks') }}</option>
										<option value="months">{{ phrase('months') }}</option>
									</select>
								</li>
							</ul>
						</li>
					</ul></dd>
				</dl>
				<dl class="ctrlUnit submitUnit">
					<dt></dt>
					<dd>
						<input type="submit" value="{{ phrase('sv_update_warning_action') }}" class="button primary" />
					</dd>
				</dl>

				<input type="hidden" name="_xfConfirm" value="1" />
				<input type="hidden" name="redirect" value="{$redirect}" />
				<input type="hidden" name="_xfToken" value="{$xf.visitor.csrf_token_page}" />
			</form>
		</xf:if>
	</div>
</div>