<xf:title>{{ phrase('sv_warning_action_for_x', {'name': $user.username}) }}</xf:title>

<div class="form block">
	<div class="block-container">
		<div class="block-body">
			<xf:formrow label="{{ phrase('sv_warning_action_type') }}">
				{$warningAction.name}, {{ date_time("{$warningAction.create_date}") }}
			</xf:formrow>
			
			<xf:formrow label="{{ phrase('sv_warning_action_result') }}">
				{$warningAction.result}
			</xf:formrow>
			
			<xf:formrow label="{{ phrase('sv_warning_action_expiry') }}">
				<xf:if is="{$warningAction.expiry_date_rounded}">
					<xf:date time="{$warningAction.expiry_date_rounded}" />
				<xf:else />
					{{ phrase('n_a') }}
				</xf:if>
			</xf:formrow>
		</div>
		
		<xf:if is="$warningAction.canEditWarningActions()">
			<h2 class="block-tabHeader tabs" data-xf-init="tabs" role="tablist">
				<a class="tabs-tab is-active" role="tab" tabindex="0" aria-controls="{{ unique_id('warning-action') }}">{{ phrase('sv_update_warning_action') }}</a>
			</h2>
			<ul class="tabPanes">
				<li role="tabpanel" id="{{ unique_id('warning-action') }}">
					<xf:macro name="expire" arg-user="{$user}" arg-warningAction="{$warningAction}" />
				</li>
			</ul>
		</xf:if>
	</div>
</div>

<xf:macro name="expire" arg-user="!" arg-warningAction="!" arg-redirect="">
	<xf:form action="{{ link('members/warning-actions/expire', $user, { 'warning_action_id': $warningAction.user_change_temp_id }) }}">
		<xf:radiorow name="expire" value="now">
			<xf:option value="now">{{ phrase('expire_now') }}</xf:option>
			<xf:option value="future" label="{{ phrase('expire_in_time:') }}">
				<xf:dependent>
					<div class="inputGroup">
						<xf:numberbox name="expiry_value" value="1" min="0" />
						<span class="inputGroup-splitter"></span>
						<xf:select name="expiry_unit" value="days" class="input--inline">
							<xf:option value="days">{{ phrase('days') }}</xf:option>
							<xf:option value="weeks">{{ phrase('weeks') }}</xf:option>
							<xf:option value="months">{{ phrase('months') }}</xf:option>
							<xf:option value="years">{{ phrase('years') }}</xf:option>
						</xf:select>
					</div>
				</xf:dependent>
			</xf:option>
		</xf:radiorow>
		
		<xf:submitrow icon="save" value="{{ phrase('sv_update_warning_action') }}" />
		
		<xf:redirect url="{$redirect}" />
	</xf:form>
</xf:macro>