<xf:if is="$comment.WarningLog.sv_spoiler_contents">
	<dl class="pairs pairs--justified fauxBlockLink">
		<dt>{{ phrase('sv_warning_improvements_spoiler_contents') }}</dt>
		<dd>{{ phrase('yes') }}</dd>
	</dl>
	<dl class="pairs pairs--justified fauxBlockLink">
		<dt>{{ phrase('sv_warning_improvements_content_spoiler_title') }}</dt>
		<dd>{{ $comment.WarningLog.sv_content_spoiler_title === '' ? phrase("n_a") : '"'.($comment.WarningLog.sv_content_spoiler_title).'"' }}</dd>
	</dl>
</xf:if>

<xf:if is="$comment.WarningLog.sv_spoiler_contents">
	<dl class="pairs pairs--justified fauxBlockLink">
		<dt>{{ phrase('sv_warning_improvements_disable_reactions') }}</dt>
		<dd>{{ phrase('yes') }}</dd>
	</dl>
</xf:if>