<xf:title>{{ phrase('confirm_action') }}</xf:title>

<xf:breadcrumb href="{{ link('members', $content.User) }}#warnings">{$content.User.username}</xf:breadcrumb>
<xf:breadcrumb href="{{ link('warnings', $content) }}">{{ phrase('warning_for_x', {'name': $content.User.username}) }}</xf:breadcrumb>

<xf:form action="{$confirmUrl}" ajax="true" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:inforow rowtype="confirm">
				{{ phrase('please_confirm_that_you_want_to_delete_following:') }}
				<xf:if is="$contentUrl">
					<strong><a href="{$contentUrl}">{$contentTitle}</a></strong>
				<xf:else />
					<strong>{$contentTitle}</strong>
				</xf:if>
			</xf:inforow>
		</div>

		<xf:macro name="svWarningImprov_macros::sendAlert"
				  arg-label="{{ phrase('svWarningImprov_send_alert_on_deleting_warning') }}"
				  arg-withReason="{{ true }}"
				  />
		
		<xf:if is="is_addon_active('SV/ReportImprovements', 2100002) && $content.canResolveLinkedReport() && !$content.Report">
			<xf:if contentcheck="true">
				<xf:contentcheck>
					<xf:macro name="svReportImprov_report_macros::resolve_report" 
							  arg-report="{$content.Report}"
							  />
				</xf:contentcheck>
			</xf:if>
		</xf:if>

		<xf:submitrow rowtype="simple" icon="delete" />
	</div>
</xf:form>